{%- liquid

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif

-%}

<div class="global__section {{ section_padding }}"><section class="global__section-{{ section.id }} background-video-section{% if settings.animation != 'none' %} animate {{ settings.animation }}{% endif %}" data-section-id="{{ section.id }}" data-section-type="background-video">
        {% capture caption %}
            <div class="caption caption-{{ section.id }}">
                <div class="caption-inners">
                    {% unless section.settings.video_heading == blank %}
                        <h2 class="slide-title">
                            {{ section.settings.video_heading | truncate: 100 }}
                        </h2>
                    {% endunless %}
                    {% unless section.settings.video_subheading == blank %}
                        <p>
                            {{ section.settings.video_subheading | truncate: 200 }}
                        </p>
                    {% endunless %}
                    {% if section.settings.video_button_link %}
                        <div class="cta">
                            <a href="{{ section.settings.video_button_link }}">
                                {{ section.settings.video_button_text }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endcapture %}
        <div class="background-video background-video-{{ section.id }}" data-video-type="{{ section.settings.video_url.type }}" data-video-mute="{{ section.settings.video_audio }}">
            {% if section.settings.video_url.type == 'youtube' %}

              {%- liquid

              if section.settings.video_audio == 'off'
                assign video_url = "?controls=0&showinfo=0&autohide=1&autoplay=1&mute=1"
              else
                assign video_url = "?controls=0&showinfo=0&autohide=1&autoplay=1"
              endif

              -%}
                <div class="item youtube" data-video-type="youtube">
                    <iframe allowfullscreen id="youtube-{{ section.id }}" title="{{ section.settings.description | escape }}" class="embed-player slide-media" frameborder="0" src="//www.youtube.com/embed/{{ section.settings.video_url.id }}{{ video_url }}"></iframe>
                    {{ caption }}
                </div>
            {% elsif section.settings.video_url.type == 'vimeo' %}
           {% if section.settings.video_audio == 'off' %}
                   {% assign video_url = "?api=1&byline=0&portrait=0&title=0&sidedock=0&loop=1&autoplay=1&id=217885864?&showinfo=0&controls=0&muted=1" %}
              {% else %}
                   {% assign video_url = "?api=1&byline=0&portrait=0&title=0&sidedock=0&loop=1&autoplay=1&id=217885864?&showinfo=0&controls=0" %}
              {% endif %}
                <div class="item vimeo" data-video-start="4" data-video-type="vimeo">
                    <iframe allowfullscreen title="{{ section.settings.description | escape }}" class="embed-player slide-media" frameborder="0" mozallowfullscreen src="//player.vimeo.com/video/{{ section.settings.video_url.id }}{{ video_url }}" webkitallowfullscreen></iframe>
                    {{ caption }}
                </div>
            {% else %}
                <div class="item video" data-video-type="video">
                    <video autoplay class="slide-video slide-media" loop playsinline
                           {% if section.settings.video_audio == 'off' %}
                                muted
                           {% endif %}
                           preload="metadata">
                        <source src="{{ section.settings.video_url_mp4 }}" type="video/mp4"/>
                    </video>
                    {{ caption }}
                </div>
            {% endif %}
        </div>
    </section>
    <div class="clear"></div>
    <style>
      .item{
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
         height: 0;
        overflow: hidden;
        max-width: 100vw;
      }
    .item iframe {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
    }
    video{
      width: 100%;
    }
    .caption-inners {
     padding: 20px;
    }
        .caption-{{ section.id }} h2,
        .caption-{{ section.id }} p {
            color: {{ section.settings.video_slide_text_color }};
        }
        .caption-{{ section.id }} h2{
            font-size: {{ section.settings.slide_heading_size }}px;
            font-weight: {{ section.settings.slide_heading_weight }};
        }
        .caption-{{ section.id }} p{
           font-size: {{ section.settings.subheading_size }}px;
           line-height: {{ section.settings.subheading_size }}px;
        }
        .caption-{{ section.id }} {
            position: absolute;
            width: 468px;
            border: 3px solid {{ section.settings.video_caption_border }};
            text-align: {{ section.settings.video_caption_alignment }};
            top: {{ section.settings.video_range_vertical_position }}%;
            left: {{ section.settings.video_range_horizontal_position }}%;
            -webkit-transform: translate(-{{ section.settings.video_range_horizontal_position }}%, -{{ section.settings.video_range_vertical_position }}%);
            -ms-transform: translate(-{{ section.settings.video_range_horizontal_position }}%, -{{ section.settings.video_range_vertical_position }}%);
            -moz-transform: translate(-{{ section.settings.video_range_horizontal_position }}%, -{{ section.settings.video_range_vertical_position }}%);
            -o-transform: translate(-{{ section.settings.video_range_horizontal_position }}%, -{{ section.settings.video_range_vertical_position }}%);
          {% if block.settings.video_caption_background == 'rgba(0,0,0,0)' %}
              background: transparent;
          {% else %}
              background: {{ section.settings.video_caption_background }};
          {% endif %}
        }
       .caption-{{ section.id }} .cta {
         padding-bottom: calc({{ section.settings.cta_size }}px - 5px);
        }
       .caption-{{ section.id }} .cta a {
          color: {{ section.settings.video_cta_color }};
          background-color: {{ section.settings.video_cta_background }};
          font-size: {{ section.settings.cta_size }}px;
          font-weight: {{ section.settings.cta_weight }};
        }
        @media only screen and (max-width: 940px) {
        .caption-{{ section.id }} {
          width: 60%;
        }
        .caption-{{ section.id }} h2{
          font-size: 20px;
        }
        .caption-{{ section.id }} p{
          font-size: 16px;
          line-height: 18px;
        }
      }
      @media only screen and (max-width: 680px) {
        .caption-{{ section.id }} {
            width: 70%;
        }
        .caption-{{ section.id }} h2{
            font-size: 20px;
        }
        .caption-{{ section.id }} p{
            font-size: 16px;
            line-height: 18px;
        }
      }
      @media only screen and (max-width: 580px) {
        .caption-{{ section.id }} {
            width: 80%;
        }
        .caption-{{ section.id }} h2{
            font-size: 16px;
        }
        .caption-{{ section.id }} p{
            font-size: 14px;
        }
      }
    </style></div>
{% schema %}
{
  "name": "Background video",
  "settings":
  [
    {
      "id": "video_url",
      "type": "video_url",
      "label": "Video URL",
      "accept":
      [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "text",
      "id": "video_url_mp4",
      "label": "MP4 URL",
      "info": "Use for MP4 URL only."
    },
    {
      "type": "text",
      "id": "description",
      "default": "Describe the video for customers using screen readers",
      "label": "Video alt text"
    },
    {
      "type": "image_picker",
      "id": "poster",
      "label": "Placeholder Image for Video"
    },
    {
      "type": "header",
      "content": "Caption Text"
    },
    {
      "type": "text",
      "id": "video_heading",
      "label": "Heading",
      "default": "Add a title to your video"
    },
    {
      "type": "text",
      "id": "video_subheading",
      "label": "Subheading",
      "default": "Tell your brand's story through video"
    },
    {
      "type": "url",
      "id": "video_button_link",
      "label": "Link",
      "info": "Add a link to the button"
    },
    {
      "type": "text",
      "id": "video_button_text",
      "label": "Button text",
      "default": "Add a button",
      "info": "Visible only if a link is chosen"
    },
    {
      "type": "header",
      "content": "Caption Styles"
    },
    {
      "type": "color",
      "id": "video_cta_color",
      "label": "Button text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "video_cta_background",
      "label": "Button background",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "video_caption_alignment",
      "label": "Caption text alignment",
      "options":
      [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "range",
      "id": "video_range_horizontal_position",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Caption horizontal position",
      "default": 50
    },
    {
      "type": "range",
      "id": "video_range_vertical_position",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Caption vertical position",
      "default": 50
    },
    {
      "type": "color",
      "id": "video_caption_background",
      "label": "Caption background color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "video_caption_border",
      "label": "Caption border color",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "video_audio",
      "label": "Video audio",
      "default": "off",
      "options":
      [
        {
          "value": "off",
          "label": "Off"
        },
        {
          "value": "on",
          "label": "On"
        }
      ]
    },
    {
      "type": "header",
      "content": "Caption Text"
    },
    {
      "type": "color",
      "id": "video_slide_text_color",
      "label": "Heading and subheading color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "slide_heading_size",
      "min": 12,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Heading size",
      "default": 24
    },
    {
      "type": "select",
      "id": "slide_heading_weight",
      "label": "Heading weight",
      "default": "bold",
      "options":
      [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "bold",
          "label": "Bold"
        }
      ]
    },
    {
      "type": "range",
      "id": "subheading_size",
      "min": 12,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Subheading size",
      "default": 14
    },
    {
      "type": "range",
      "id": "cta_size",
      "min": 12,
      "max": 18,
      "step": 1,
      "unit": "px",
      "label": "Button text size",
      "default": 14
    },
    {
      "type": "select",
      "id": "cta_weight",
      "label": "Button text weight",
      "default": "normal",
      "options":
      [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "bold",
          "label": "Bold"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "presets":
  [
    {
      "name": "Background video"
    }
  ],
  "templates":
  [
    "404",
    "article",
    "blog",
    "cart",
    "collection",
    "list-collections",
    "index",
    "page",
    "product",
    "search"
  ]
}
{% endschema %}
