{%- liquid

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'pt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'pt0 pb0'
  endif

  case section.settings.collections_per_row
    when 4
      assign col_per_row = 'span-3 sm-span-6 auto'
    when 3
      assign col_per_row = 'span-4 sm-span-6 auto'
    when 2
      assign col_per_row = 'span-6 sm-span-6 auto'
  endcase

-%}


<section class="global__section padding-top {{ section_padding }} global__collection-list-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="collection-list-section">

  <div class="row grid__wrapper">

    {% if section.settings.title != blank %}
      <h2 class="section-title span-12">
        {{ section.settings.title | escape }}
      </h2>
    {% endif %}
  </div>

    {% if section.blocks.size == 0 %}
      {% render 'no-blocks' %}
    {% else %}

      <div class="collection-loop grid__wrapper row">

        {% for block in section.blocks %}
          {%- liquid
            assign collection = collections[block.settings.collection]
          -%}
          {% if collection != blank %}
            {% render 'collection-grid-item',
              collection: collection,
              col_per_row: col_per_row %}
          {% else %}
            {% render 'onboard-collection',
              col_per_row: col_per_row %}
          {% endif %}
        {% endfor %}
      </div>

    {% endif %}
  </div >
  <style>
    section.global__collection-list-{{ section.id }} {
      background: var(--{{ section.settings.color_scheme }}-background);
    }
    {% unless section.settings.color_scheme == 'none' %}
      section.global__collection-list-{{ section.id }} .section-title:after {
        border-color: var(--{{ section.settings.color_scheme }}-color) !important;
      }
      section.global__collection-list-{{ section.id }} h2,
      section.global__collection-list-{{ section.id }} h2 a,
      section.global__collection-list-{{ section.id }} .collection-index span.product-title,
      section.global__collection-list-{{ section.id }} .collection-index .product-info a {
        color: var(--{{ section.settings.color_scheme }}-color) !important;
      }
    {% endunless %}
    section.global__collection-list-{{ section.id }} .collection-index .collection-image a {
      display: inline-block;
      width: 100%;
      outline-offset: unset !important;
   }
  </style>
</section>


{% schema %}
{
  "name": "Collection list",
  "max_blocks": 6,
  "settings":
  [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection list"
    },
    {
      "type": "range",
      "id": "collections_per_row",
      "min": 2,
      "max": 4,
      "step": 1,
      "label": "Collections per row",
      "default": 3
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "cs1",
          "label": "1"
        },
        {
          "value": "cs2",
          "label": "2"
        },
        {
          "value": "cs3",
          "label": "3"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "blocks":
  [
    {
      "type": "featured_collection",
      "name": "Collection",
      "settings":
      [
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ],
  "presets":
  [
    {
      "name": "Collection list",
      "settings":
      {},
      "blocks":
      [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ],
  "templates":
  [
    "404",
    "article",
    "blog",
    "cart",
    "collection",
    "list-collections",
    "index",
    "page",
    "product",
    "search",
    "customers/account"
  ]
}
{% endschema %}
