{%- liquid

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif

-%}

{%- capture section_classes -%}
  shopify-section page-contact-form {% if settings.animation != 'none' %} animate {{ settings.animation }}{% endif %}
{%- endcapture -%}

<div class="global__section {{ section_padding }}"><section
  id="page-section-{{ section.id }}"
  class="{{- section_classes | strip -}}"
  style="max-width:{{ section.settings.cf_max_width }}px; margin-left: auto; margin-right: auto;"
  data-section-id="{{ section.id }}">

  {% if section.settings.cf_heading != blank %}
    <h2 class="section-title">{{ section.settings.cf_heading }}</h2>
  {% endif %}
  {% render 'custom-contact' type: section %}
</section></div>

{% schema %}
{
  "name": "Contact form",
  "settings":
  [
    {
      "type": "text",
      "id": "cf_heading",
      "label": "Heading",
      "default": "Contact Us"
    },
    {
      "type": "range",
      "id": "cf_max_width",
      "min": 600,
      "max": 1000,
      "step": 100,
      "unit": "px",
      "label": "Form Width",
      "default": 800
    },
    {
      "type": "checkbox",
      "id": "cf_show_first_name",
      "label": "Show first name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "cf_show_last_name",
      "label": "Show last name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "cf_show_company_name",
      "label": "Show company name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "cf_show_address",
      "label": "Show address",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "cf_show_website_url",
      "label": "Show website url",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "cf_show_phone",
      "label": "Show phone number",
      "default": true
    },
    {
      "type": "header",
      "content": "Custom field one"
    },
    {
      "type": "checkbox",
      "id": "cf_show_custom_field_one",
      "label": "Show custom field one",
      "default": false
    },
    {
      "type": "text",
      "id": "cf_custom_field_one",
      "label": "Field placeholder",
      "default": "Custom field one"
    },
    {
      "type": "select",
      "id": "cf_custom_field_one_type",
      "label": "Field type",
      "default": "input",
      "options":
      [
        {
          "value": "textarea",
          "label": "Multiple line text"
        },
        {
          "value": "input",
          "label": "Single line text"
        }
      ]
    },
    {
      "type": "header",
      "content": "Custom field two"
    },
    {
      "type": "checkbox",
      "id": "cf_show_custom_field_two",
      "label": "Show custom field two",
      "default": false
    },
    {
      "type": "text",
      "id": "cf_custom_field_two",
      "label": "Field placeholder",
      "default": "Custom field two"
    },
    {
      "type": "select",
      "id": "cf_custom_field_two_type",
      "label": "Field type",
      "default": "input",
      "options":
      [
        {
          "value": "textarea",
          "label": "Multiple line text"
        },
        {
          "value": "input",
          "label": "Single line text"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "presets":
  [
    {
      "name": "Contact form"
    }
  ],
  "templates":
  [
    "404",
    "article",
    "page",
    "product"
  ]
}
{% endschema %}
