{%- liquid

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'pt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'pt0 pb0'
  endif

  assign collection = collections[section.settings.collection]

  if section.settings.carousel
    assign is_carousel = true
  endif

  assign prod_limit = section.settings.limit
  assign grid = section.settings.grid

  assign enough_to_wrap = true
  if collection.products.size <= grid
    assign enough_to_wrap = false
  endif
  if prod_limit <= grid
    assign enough_to_wrap = false
  endif

  case section.settings.grid
    when 2
      assign prod_grid = 50
    when 3
      assign prod_grid = 33.333
    when 4
      assign prod_grid = 25
  endcase


-%}
<section class="global__section padding-top {{ section_padding }} featured__collection-{{ section.id }}{% if settings.animation != 'none' %} animate {{ settings.animation }}{% endif %}" data-section-id="{{ section.id }}" data-section-type="featured-collection" >

  <div class="row grid__wrapper">
    {% if section.settings.heading != blank %}
      <h2 class="section-title span-12 auto">
        <a href="{{ collection.url }}">
          {{ section.settings.heading | escape }}
        </a>
      </h2>
      <div class="clear"></div>
    {% endif %}
  </div>


    {% capture slideshow_config %}{
    "wrapAround": {{ enough_to_wrap }},
    "cellAlign": "left",
    "dragThreshold":{{ enough_to_wrap }},
    "pauseAutoPlayOnHover":false,
    "freeScroll": true,
    "contain": true,
    "prevNextButtons": {{ enough_to_wrap }},
    "pageDots": false
    }{% endcapture %}

  <div class="row">
    <div class="product-loop{% if is_carousel %} flickity__section js-carousel featured__collection-carousel{% endif %}"{% if is_carousel %} data-flickity='{{ slideshow_config }}'{% endif %}>
      {% for product in collection.products limit: prod_limit %}
        <div class="featured__collection-product product-index" id="prod-{{ product.id }}" data-alpha="{{ product.title }}" data-price="{{ product.price }}" data-product-id="{{ product.id }}">
          {% render 'product-listing', product: product %}
        </div>
      {% endfor %}
      {% if section.settings.collection == blank %}
        {% render 'onboard-product', prod_limit: prod_limit, grid: grid %}
      {% endif %}
    </div>
  </div>

  {%- if collection and collection.products.size < 1 and request.design_mode -%}
    <div class="row no-blocks">
      <div class="desktop-12 tablet-6 mobile-3">
    	   {{ 'layout.homepage.onboarding.no_products_collection' | t }}
      </div>
    </div>
  {%- endif -%}

  <style>

    section.featured__collection-{{ section.id }} {
      background: var(--{{ section.settings.color_scheme }}-background);
    }
    {% unless section.settings.color_scheme == 'none' %}
      section.featured__collection-{{ section.id }} .section-title:after {
        border-color: var(--{{ section.settings.color_scheme }}-color) !important;
      }
      section.featured__collection-{{ section.id }} h2,
      section.featured__collection-{{ section.id }} h2 a,
      section.featured__collection-{{ section.id }} .product-index span.product-title,
      section.featured__collection-{{ section.id }} .product-index .product-info a,
      section.featured__collection-{{ section.id }} .product-index .product-info p,
      section.featured__collection-{{ section.id }} .product-index .product-info .price,
      section.featured__collection-{{ section.id }} .product-index .product-info .price-item,
      section.featured__collection-{{ section.id }} .product-index .product-info .price__badge,
      section.featured__collection-{{ section.id }} .product-index .product-info .price__badge--sold-out {
        color: var(--{{ section.settings.color_scheme }}-color) !important;
      }
    {% endunless %}

    .featured__collection-{{ section.id }} .product-loop {
      width: 100%;
      margin: 0 auto;
    }
    {% if is_carousel %}
      .featured__collection-{{ section.id }} .featured__collection-carousel .featured__collection-product {
        width: {{ prod_grid }}%;
        box-sizing: border-box !important;
        padding: 0 15px;
      }
      @media screen and (max-width: 740px) {
        .featured__collection-{{ section.id }} .featured__collection-carousel .featured__collection-product {
          width: 50%;
        }
      }
    {% else %}
      .featured__collection-{{ section.id }} .product-loop {
        display: grid;
        grid-template-columns: repeat({{ grid }}, {{ prod_grid }}%);
      }
      .featured__collection-{{ section.id }} .featured__collection-product {
        box-sizing: border-box !important;
        padding: 0 15px;
      }
      @media screen and (max-width: 740px) {
        .featured__collection-{{ section.id }} .product-loop {
          grid-template-columns: repeat(2, 50%);
        }
      }
    {% endif %}
  </style>

</section>
{% schema %}
{
  "name": "Featured collection",
  "settings":
  [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "id": "carousel",
      "type": "checkbox",
      "label": "Display in carousel"
    },
    {
      "type": "range",
      "id": "grid",
      "min": 2,
      "max": 4,
      "step": 1,
      "label": "Products per row",
      "default": 3
    },
    {
      "type": "range",
      "id": "limit",
      "min": 2,
      "max": 30,
      "step": 1,
      "label": "Products visible",
      "default": 3
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "cs1",
          "label": "1"
        },
        {
          "value": "cs2",
          "label": "2"
        },
        {
          "value": "cs3",
          "label": "3"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "presets":
  [
    {
      "name": "Featured collection"
    }
  ],
  "templates":
  [
    "404",
    "article",
    "blog",
    "cart",
    "collection",
    "list-collections",
    "index",
    "page",
    "product",
    "search",
    "customers/account"
  ]
}
{% endschema %}
