{%- liquid

assign section_padding = ''
if section.settings.section_padding == 'top'
  assign section_padding = 'pb0'
elsif section.settings.section_padding == 'bottom'
  assign section_padding = 'pt0'
elsif section.settings.section_padding == 'none'
  assign section_padding = 'pt0 pb0'
endif

-%}


<section class="global__section padding-top {{ section_padding }} global__section-{{ section.id }} {% if settings.animation != 'none' %} animate {{ settings.animation }}{% endif %} flickity__section" data-section-id="{{ section.id }}">

  {% capture slideshow_config %}{
    "wrapAround":false,
    "cellAlign": "center",
    "dragThreshold":"5",
    "contain": true,
    "freeScroll": false,
    "prevNextButtons": false,
    "pageDots": true,
    "watchCSS": true,
    "cellSelector": ".gallery-block"
  }{% endcapture %}

    {% if section.settings.full_width %}
    <div class="gridlock-fluid">
    <div class="row">
    {% endif %}

    <div class="row gallery__container{% if section.settings.full_width %} edge{% endif %}" data-flickity='{{ slideshow_config }}'>
      {% for block in section.blocks %}
          {%- liquid

            case block.settings.image_width
              when '25'
                assign image_width = 'span-3'
              when '33'
                assign image_width = 'span-4'
              when '50'
                assign image_width = 'span-6'
              when '66'
                assign image_width = 'span-8'
              when '75'
                assign image_width = 'span-9'
              when '100'
                assign image_width = 'span-12'
            endcase

          -%}
        <div class="gallery-block {{ image_width }} auto sm-span-12" {{ block.shopify_attributes }}>

          <div class="image__container promo-{{ block.id }}">
            <div class="promo-inner">
              {% if block.settings.link != blank and block.settings.button_text == blank %}<a href="{{ block.settings.link }}">{% endif %}
                {% if block.settings.image != blank %}
                  {% render 'basic-responsive-image', type: block.settings.image, data_widths: '[180, 360, 540, 720, 900, 1080, 1296, 1512]' %}
                  <noscript>
                    <img src="{{ block.settings.image | img_url: '800x' }}" alt="{{ block.settings.image.alt }}">
                  </noscript>
                {% else %}
                  <div class="onboard">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {% endif %}
                <div class="caption{% if block.settings.center_align %} centered{% endif %}">
                  {% if block.settings.title != blank %}
                    <h3>{{ block.settings.title | escape }}</h3>
                  {% endif %}
                  {% if block.settings.caption_text != blank %}
                    <div class="rte">
                      {{ block.settings.caption_text }}
                    </div>
                  {% endif %}
                  {% if block.settings.link != blank and block.settings.button_text != blank %}
                  <div class="gallery__btn-wrapper">
                    <a href="{{ block.settings.link }}">{{ block.settings.button_text | escape }}</a>
                  </div>
                  {% endif %}
                </div>
              {% if block.settings.link != blank and block.settings.button_text == blank %}</a>{% endif %}
            </div>
              {% case block.settings.image_size %}
                {% when 'small' %}
                  {% assign image_height = '250px' %}
                {% when 'medium' %}
                  {% assign image_height = '500px' %}
                {% when 'large' %}
                  {% assign image_height = '1000px' %}
              {% endcase %}
            <style>
              {% if block.settings.image_size != 'none' %}
                .image__container.promo-{{ block.id }} {
                  height: {{ image_height }};
                  overflow: hidden;
                }
                .image__container.promo-{{ block.id }} .promo-inner .onboard {
                  height: {{ image_height }};
                }
                .image__container.promo-{{ block.id }} .promo-inner .onboard svg {
                  height: 100%;
                  width: 100%;
                }
                .image__container.promo-{{ block.id }} .box-ratio {
                  padding-bottom: {{ image_height }} ! important;
                }
                .image__container.promo-{{ block.id }} img {
                  height: {{ image_height }};
                  object-fit: cover;
                  object-position: center;
                }
                @media screen and (max-width: 740px) {
                  {% if section.settings.image_size == 'small' %}
                    {% assign image_height = '220px' %}
                  {% else %}
                    {% assign image_height = '440px' %}
                  {% endif %}
                  .image__container.promo-{{ block.id }} {
                    height: {{ image_height }};
                  }
                  .image__container.promo-{{ block.id }} .box-ratio {
                    padding-bottom: {{ image_height }} ! important;
                  }
                  .image__container.promo-{{ block.id }} img {
                    height: {{ image_height }};
                  }
                }
              {% endif %}
              .image__container.promo-{{ block.id }} .caption {
                top: {{ block.settings.vertical_position }}%;
                left: {{ block.settings.horizontal_position }}%;
                -webkit-transform: translate(-{{ block.settings.horizontal_position }}%, -{{ block.settings.vertical_position }}%);
                -ms-transform: translate(-{{ block.settings.horizontal_position }}%, -{{ block.settings.vertical_position }}%);
                -moz-transform: translate(-{{ block.settings.horizontal_position }}%, -{{ block.settings.vertical_position }}%);
                -o-transform: translate(-{{ block.settings.horizontal_position }}%, -{{ block.settings.vertical_position }}%);
              }
              .image__container.promo-{{ block.id }} .caption h3,
              .image__container.promo-{{ block.id }} .caption p,
              .image__container.promo-{{ block.id }} .caption .rte a {
                color: {{ block.settings.text_color }};
              }
              .image__container.promo-{{ block.id }} .caption .gallery__btn-wrapper a {
                background: {{ block.settings.button_color }};
                color: {{ block.settings.button_text_color }};
              }
            </style>
          </div>

        </div>
      {% endfor %}

      {% if section.blocks.size == 0 %}
        {% render 'no-blocks' %}
      {% endif %}
    </div>


  {% if section.settings.full_width %}
  </div>
  </div>
  {% endif %}

    <div class="clear"></div>

    <style>
      .global__section-{{ section.id }}  {
        background: var(--{{ section.settings.color_scheme }}-background);
      }
      .global__section-{{ section.id }} .image__container .promo-inner h3 {
        font-size: {{ section.settings.promo_size }}px;
      }
      .global__section-{{ section.id }} .image__container .promo-inner p {
        font-size: {{ section.settings.hidden_size }}px;
      }
      @media screen and (max-width: 740px) {
        .global__section-{{ section.id }} .image__container .promo-inner h3 {
          font-size: calc({{ section.settings.promo_size }}px - ({{ section.settings.promo_size }}px * 0.15));
        }
        .global__section-{{ section.id }} .image__container .promo-inner p {
          font-size: calc({{ section.settings.hidden_size }}px - ({{ section.settings.hidden_size }}px * 0.15));
        }
      }
      {% if section.settings.images_touching %}
        .global__section-{{ section.id }} .gallery__container {
          grid-gap: 0;
        }
      {% else %}
        .global__section-{{ section.id }} .gallery__container {
          grid-gap: 30px;
        }
      {% endif %}
      @media screen and ( max-width: 740px ) {
        .gallery__container.row:after {
          content: 'flickity';
          display: none; /* hide :after */
        }
        .gallery__container.flickity-enabled .gallery-block {
          width: 100%;
        }
      }
      @media screen and ( min-width: 741px ) {
        /* disable Flickity for large devices */
        .gallery__container.row:after {
          content: '';
        }
      }
    </style>
</section>


{% schema %}
{
  "name": "Image gallery",
  "max_blocks": 16,
  "settings":
  [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Enable full width",
      "default": false
    },
    {
      "type": "range",
      "id": "promo_size",
      "min": 12,
      "max": 48,
      "step": 1,
      "unit": "px",
      "label": "Heading size",
      "default": 32
    },
    {
      "type": "range",
      "id": "hidden_size",
      "min": 12,
      "max": 32,
      "step": 1,
      "unit": "px",
      "label": "Subheading size",
      "default": 18
    },
    {
      "type":"checkbox",
      "id":"images_touching",
      "label":"Images touching",
      "default": false
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "cs1",
          "label": "1"
        },
        {
          "value": "cs2",
          "label": "2"
        },
        {
          "value": "cs3",
          "label": "3"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "blocks":
  [
    {
      "type": "image",
      "name": "Image",
      "settings":
      [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "image_size",
          "label": "Image height",
          "default": "none",
          "options":
          [
            {
              "value": "none",
              "label": "Natural"
            },
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "info": "Allow theme to control image heights to aid alignment"
        },
        {
          "type": "select",
          "id": "image_width",
          "label": "Container width",
          "default": "33",
          "options":
          [
            {
              "value": "25",
              "label": "25%"
            },
            {
              "value": "33",
              "label": "33%"
            },
            {
              "value": "50",
              "label": "50%"
            },
            {
              "value": "66",
              "label": "66%"
            },
            {
              "value": "75",
              "label": "75%"
            },
            {
              "value": "100",
              "label": "100%"
            }
          ]
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Image captions"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Image heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "caption_text",
          "label": "Caption text",
          "default": "<p>Add some text to accompany the image heading</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Button",
          "info": "Visible only if a link is chosen"
        },
        {
          "type": "header",
          "content": "Image caption style"
        },
        {
          "type": "range",
          "id": "vertical_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Vertical position",
          "default": 50
        },
        {
          "type": "range",
          "id": "horizontal_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Horizontal position",
          "default": 50
        },
        {
          "type": "checkbox",
          "id": "center_align",
          "label": "Center align text",
          "default": true
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button text",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "button_color",
          "label": "Button color",
          "default": "#000"
        }
      ]
    }
  ],
  "presets":
  [
    {
      "name": "Image gallery",
      "blocks":
      [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ],
  "templates":
  [
    "404",
    "article",
    "blog",
    "cart",
    "collection",
    "list-collections",
    "index",
    "page",
    "product",
    "search"
  ]
}
{% endschema %}
